<div class="main">
	<img class="logo" src="/assets/img/logo-meca.png" alt="Meca-Repair.com">
	<mat-card class="login-card">
		<mat-card-header class="login-header">
			<mat-card-title>Connexion</mat-card-title>
		</mat-card-header>
		
		<mat-spinner *ngIf="!hideLoader" diameter="30"></mat-spinner>
		<mat-card-content class="login-form">
			<div class="form-input">
				<mat-form-field >
					<mat-label>Adresse email</mat-label>
					<input matInput placeholder="mecarepair@exemple.com" [(ngModel)]="email" type="email">
					<mat-icon matSuffix>alternate_email</mat-icon>
				</mat-form-field>
			</div>
			<div class="form-input">
				<mat-form-field >
					<mat-label>Mot de passe</mat-label>
					<input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					  <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
					</button>
				  </mat-form-field>
			</div>
		</mat-card-content>
		<small class="error">{{error}}</small>
		<mat-card-actions>
			<button mat-raised-button class="login-button" (click)="login()" [disabled]="!hideLoader" [ngClass]="!hideLoader? 'disabled':''">
				Se Connecter
			</button>
			<br/>
		</mat-card-actions>
		<small>
			<a [routerLink]="['/signin']" class="redirect">s`inscrire</a>
		</small>
		
	</mat-card>
</div>